html,
body {
  background-color: white;
  color: black;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.boardParent {
  perspective: 881px;
  perspective-origin: 50% 107%;
}

.root {
  width: 100%;
  min-height: calc(100vh - 32px);
  height: calc(100vh - 32px);

  display: flex;
  flex-direction: column;

  align-items: center;

  transform: translate3d(0px, 0px, -100px) rotate3d(1, 0, 0, 22deg);

  border: 4px solid black;
  background: white;
}

.leftSide {
  border: 4px solid black;
  left: 0px;
  right: 0px;
  position: absolute;
  transform: translate3d(0px, 500px, 0px) rotate3d(1, 0, 0, 112deg);
  background: wheat;
  top: 0px;
  bottom: 0px;
}

.bottomSide {
  padding: 2rem;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  transform: translate3d(4px, 458px, -290px) rotate3d(1, 0, 0, 112deg);

  background: red;
  border: 4px solid black;
}

.duel {
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.secondPage {
  width: 100vw;
  height: calc(100vh - 48px);

  perspective: 0px;
}

.secondPageContent {
  background-color: white;
}

.heading {
  padding: 2rem 0;
}

.reroll {
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.hps {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  width: 100%;
}

.win {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.count {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot {
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  z-index: 1;
  
  cursor: pointer;
  user-select: none;
  position: relative;

  /* padding: 2em; */
  border: 1px solid #888;
  background-color: #fff;

  /* width: 50px;
  height: 120px; */
  width: 116px;
  height: 186px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  transition: transform ease 0.3s;
  color: #000;

  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.cardPlace {
  cursor: no-drop;
  user-select: none;
  position: relative;

  padding: 2em;
  border: 1px solid #888;
  background-color: #eee;

  width: 50px;
  height: 120px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  transition: transform ease 0.3s;
  color: #eee;

  box-shadow: inset 0px 3px 1px -2px rgb(0 0 0 / 20%), inset 0px 2px 2px 0px rgb(0 0 0 / 14%),
    inset 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.card:hover {
  transform: scale(1.1);
  z-index: 1000;
}

.ghostHand {
  z-index: 1;
  display: flex;
  position: absolute;
  bottom: 100px;
}

.hideCard {
  visibility: hidden;
}

.ghostCard {
  transition: none;
}

.dragCard {
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: default;
  /* display: contents; */
}

.rewardCard {
  background: radial-gradient(circle, rgba(255, 255, 190, 1) 0%, rgba(240, 255, 27, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.rewardSvgWrapper {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.rewardSvg {
  position: absolute;
  left: -20px;
  top: -150px;
}

.rewardSvg:last-child {
  position: absolute;
  left: 0px;
  rotate: 180deg;
  top: -30px;
}

.cardDisabled {
  background-color: #888;
  cursor: no-drop;
  user-select: none;
}

.cardDisabled:hover {
  transform: none;
}

.read-the-docs {
  color: #888;
}

.chainResultElem .card {
  transition: transform ease 0.3s;
}

.chainResultElem .card:hover {
  transform: scale(1.2);
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 190, 1) 0%, rgba(240, 255, 27, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background-size: 400% 400%;
  background-position: center;
  /* background: linear-gradient(270deg, #246655, #665f24);
  background-size: 400% 400%; */
  -webkit-animation: equalizerAnim 1s ease infinite;
  -moz-animation: equalizerAnim 1s ease infinite;
  animation: equalizerAnim 1s ease infinite;
}

@-webkit-keyframes equalizerAnim {
  0% {
    background-size: 400% 400%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 400% 400%;
  }
}
@-moz-keyframes equalizerAnim {
  0% {
    background-size: 400% 400%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 400% 400%;
  }
}
@keyframes equalizerAnim {
  0% {
    background-size: 400% 400%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 400% 400%;
  }
}

.cards {
  margin-bottom: 100px;
  display: flex;
  gap: -36px;

  justify-content: center;
  position: relative;
  animation: cardsShow 1s ease;
}

.cards > div:hover {
  z-index: 1000;
}

.cardRewards {
  position: absolute;
  top: 20px;
  zoom: 0.2;
}

.labelsShow {
  transform: translateY(0px);
  opacity: 1;
  animation: cardsShow 1s ease;
}

@keyframes cardsShow {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.labelsHide {
  transform: translateY(-300px);
  opacity: 0;
  animation: cardsHide 1s ease;
}

.cardsHide {
  transform: translateY(300px);
  animation: cardsHide 1s ease;
}

@keyframes cardsHide {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}

.chain {
  margin-bottom: 60px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  row-gap: 16px;
}

.addition {
  position: absolute;
  top: 20px;
  right: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverZone {
  width: 100px;
  height: 180px;
  background: linear-gradient(90deg, green 50%, transparent 50%), linear-gradient(90deg, green 50%, transparent 50%), linear-gradient(0deg, green 50%, transparent 50%), linear-gradient(0deg, green 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0px 0px, 100% 100%, 0px 50%, 100% 0px;
  animation: borderAnim 4s linear infinite;
  background-color: rgba(0, 255, 0,.3);
}

.chain .chainElem:nth-last-child(2) .cardAddition {
  display: none;
  /* border: 1px solid red; */
}

.chain .chainElem .noAddition .addition {
  display: none;
}

.chain .chainElem:nth-last-child(2) .addition {
  display: flex;
}

.cardAddition,
.addition {
  user-select: none;
  padding: 16px 24px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.noAddition .addition {
  padding: 8px 12px;
}

.addition.tutorialAdditionReward {
  margin-top: 12px;
  position: relative;
  width: 5px;
  top: inherit;
  right: inherit;
}

.noDrop {
  cursor: no-drop;
  user-select: auto;
}

.interactive {
  cursor: pointer;
  user-select: auto;
}

.cardAddition {
  padding: 8px 12px;
}

.activeCardAddition {
  cursor: pointer;
  transition: transform ease 0.3s;
}

.activeCardAddition:hover {
  transform: scale(1.2);
  z-index: 1000;
}

.mainText {
  color: #000;
}

.additionText {
  text-align: center;
  transition: all 0.2s;
  color: #fff;
  /* background-color: rgba(0,0,0,.1); */
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 0 6px 0 0;
}

.chainElem,
.chainResultElem {
  display: flex;
  align-items: center;
}

.Denominator {
  background-color: #ff9e9e;
}

.Multiplicator {
  background-color: #ff6d28;
}

.Summator {
  background-color: #fce700;
}

.Differencator {
  background-color: #ea047e;
}

.chain .Numberator {
  opacity: 0;
}

.Switcher {
  background: rgb(2, 0, 36);
  -webkit-animation: switcherAnim 1s ease infinite;
  -moz-animation: switcherAnim 1s ease infinite;
  animation: switcherAnim 1s ease infinite;
}

.enemyDeck {
  rotate: 180deg;
  margin-bottom: 20px;
}

.enemyChain {
  rotate: 180deg;
}

.equalizer {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.tutorialText {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;

  width: 30vw;
  text-align: left;
  padding: 24px;

  color: #fff;
  background-color: #888;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 400;
}

.header {
  position: absolute;
  right: 20px;
  top: 20px;

  z-index: 200;
}

.backHeader {
  position: absolute;
  left: 20px;
  top: 20px;

  z-index: 200;
}

.additionAnim {
  animation: additionAnim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  /* box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
}

@keyframes additionAnim {
  0% {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 250, 0.2), 0px 2px 2px 0px rgba(0, 0, 250, 0.14),
      0px 1px 5px 0px rgba(0, 0, 250, 0.12);
  }
  50% {
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 250, 0.2), 0px 4px 4px 3px rgba(0, 0, 250, 0.2),
      0px 4px 4px 2px rgba(0, 0, 250, 0.2), 0px -4px 4px 2px rgba(0, 0, 250, 0.2);
  }
  100% {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 250, 0.2), 0px 2px 2px 0px rgba(0, 0, 250, 0.14),
      0px 1px 5px 0px rgba(0, 0, 250, 0.12);
  }
}

.mt32 {
  margin-top: 32px;
}

.mb32 {
  margin-bottom: 32px;
}

.border {
  background: linear-gradient(90deg, green 50%, transparent 50%), linear-gradient(90deg, green 50%, transparent 50%), linear-gradient(0deg, green 50%, transparent 50%), linear-gradient(0deg, green 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0px 0px, 100% 100%, 0px 50%, 100% 0px;
  animation: borderAnim 4s linear infinite;
}

@keyframes borderAnim {
  0% {
    background-position: 0px 0px, 100% 100%, 0px 50%, 100% 0px;
  }
  100% {
    background-position: 100% 0px, 0px 100%, 0px 0px, 100% 50%;
  }
}