.sections {
  display: flex;
  margin-top: 32px;
}

.section {
  flex: 1;
}

.operatorsSection {
  flex: 1;
}

.headers {
  padding: 16px 0px;
}

.operatorsGrid {
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;
}

.operatorsGridZoomed {
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
  row-gap: 16px;

  zoom: 0.3;

  position: absolute;
  bottom: 20px;
}

.addition {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

.additionMath {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}